{% extends 'base.html' %}

{% block title_header_content %}
    New Booking
{% endblock %}

{% block body_main_content %}
    <header class="booking-header">
        <h2>Choose a Date and Time</h2>
        <a href="/bookings/new">Back</a>
    </header>
    <main class="booking-main">
        {% for gym_class in gym_classes %}
            <section class="card-class">
                <p>
                    <a href="/classes/{{ gym_class.id }}" class="inline-link">
                        {{ gym_class.name }} - 
                        {{ gym_class.class_date.strftime('%a %d %b %Y') }} - 
                        {{ gym_class.class_time.strftime('%I:%M %p') }}
                    </a>
                </p>
                {% if gym_class.is_peak %}
                        <p>Peak</p>
                    {% else %}
                        <p>OffPeak</p>
                    {% endif %}
                {% if gym_class_status[gym_class.id] %}
                    <button class="button button-disabled">
                        Class Full
                    </button>
                {% else %}
                    <button class="button button-book">
                        <a href="/bookings/new/{{ gym_class.id }}" class="invisi-link">Book</a>
                    </button>
                {% endif %}
                
            </section>
        {% endfor %}
    </main>
{% endblock %}