{% extends 'base.html' %}

{% block title_header_content %}
    New Booking
{% endblock %}

{% block body_main_content %}
    <header class="booking-header">
        <h2>Choose a Member</h2>
    </header>
    <main class="booking-main-choose-member">
        <form action="/bookings/new" method="post" class="booking-form">
            <fieldset>
                <legend>
                    Member Selection - {{ gym_class.name }} - {{ gym_class.class_date }} - {{ gym_class.class_time }}
                </legend>
                {% for member in members %}
                    <div class="label-input-pair">
                        <label for="{{ member.id }}">
                            {{ member.get_full_name() }} 
                        </label>
                        <input type="radio"
                                id="{{ member.id }}"
                                name="member_id"
                                value="{{ member.id }}">
                    </div>
                {% endfor %}
                <input type="hidden" name="gym_class_id" value="{{ gym_class.id }}">
                
            </fieldset>
            <button type="submit" class="button button-post">Select</button>
        </form>
        <h2>Booked Members</h2>
        <section class="member-main">
            {% for member in booked_members %}
                <section class="card-member-booking">
                    <div>
                        <p>
                            <a href="/members/{{ member.id }}" class="inline-link">
                                {{ member.get_full_name() }}
                            </a>
                        </p>
                        {% if member.is_premium %}
                            <p>Premium &#127775;</p>
                        {% else %}
                            <p>Standard</p>
                        {% endif %}
                    </div>
                </section>
            {% endfor %}
        </section>
    </main>
{% endblock %}