{% extends 'base.html' %}

{% block header_title_content %}
    New Booking
{% endblock %}

{% block body_main_content %}
    <header class="booking-header">
        <h2>Select a class type</h2>
    </header>
    <main class="booking-main">
        {% for class in class_names %}
            <section class="card-class-type">
                <p>{{ class }}</p>
                <button>
                    <a href="/bookings/new/{{ class }}">Book</a>
                </button>
            </section>
        {% endfor %}
    </main>
{% endblock %}