{% extends 'base.html' %}

{% block header_title_content %}
    New Booking
{% endblock %}

{% block body_main_content %}
    <header>
        <h2>Select class to book</h2>
    </header>
    <main>
        <form action="/bookings/new" method="post">
            <div class="label-input-pair">
                <label for="class_name">Class: </label>
                <select id="class_name" name="class_name">
                    {% for class_name in class_names %}
                        <option value="{{ class_name }}"
                        {% if loop.index == 1 %}default{% endif %}
                        >{{ class_name }}</option>
                    {% endfor %}
                    <!-- <option value="select_all">Select All</option> -->
                </select>
            </div>
            <button type="submit">Choose</button>
        </form>
    </main>
{% endblock %}