.button {
    border: none;
    color: white;
    height: 2.5em;
    width: 4.5em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0.3em;
}

.button-post {
    background-color: #15358F;
    align-self: flex-end;
    justify-self: center;
    margin: 0.5em;
}
.button-edit {
    background-color: #DB9E00;
}
.button-book {
    background-color: #DB4F2C;
}
.button-save {
    width: 100%;
    background-color: #2CB5DB;
}
.button-delete {
    background-color: grey;
}

.button-back {
    background-color: antiquewhite;
    align-self: flex-end;
    justify-self: center;
}

.button-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.button-set-active {
    background-color: #8F331D;
}
.button-set-inactive {
    background-color: #078F62;
}

.button-small {
    height: 100%;
    width: 100%;
}