{% extends 'base.html' %}

{% block header_title_content %}
    All Members
{% endblock %}

{% block body_main_content %}
    <header class="member-header">
        <h2>{{ header }}</h2>
        <nav class="member-header-nav">
            <a href="/members" class="sub-nav-link">All</a>
            <a href="/members/active" class="sub-nav-link">Active</a>
            <a href="/members/inactive" class="sub-nav-link">Inactive</a>
            <a href="/members/new" class="sub-nav-link">Create New Member</a>
        </nav>
    </header>
    <main class="member-main">
        {% for member in members %}
            <section class="card-member">
                <div class="card-member-text">
                    <p>
                        <a href="/members/{{ member.id }}" class="inline-link">
                            {{ member.get_full_name() }}
                        </a>
                    </p>
                    {% if member.is_premium %}
                        <p>Premium &#127775;</p>
                    {% else %}
                        <p>Standard</p>
                    {% endif %}
                </div>
                <div class="card-member-buttons">
                    <button class="button member-button">
                        <a href="/members/{{ member.id }}/edit" class="invisi-link">Edit</a>
                    </button>
                    {% if member.is_active %}
                        <a href="/members/{{ member.id }}/toggle" class="invisi-link">
                            <button class="button member-button button-set-inactive">
                                Active
                            </button>
                        </a>
                    {% else %}
                        <a href="/members/{{ member.id }}/toggle" class="invisi-link">
                            <button class="button member-button button-set-active">
                                Inactive
                            </button>        
                        </a>
                    {% endif %}
                </div>
            </section>
        {% endfor %}
    </main>
{% endblock %}