{% extends 'base.html' %}

{% block header_title_content %}
    Create New Member
{% endblock %}

{% block body_main_content %}
    <header class="member-header">
        <h2>Create New Member</h2>
        <nav class="member-header-nav">
            <a href="/members" class="sub-nav-link">All Members</a>
        </nav>
    </header>
    <main class="member-main">
        <form action="/members/new" method="post">
            <div class="label-input-pair">
                <label for ="first_name">First Name: </label>
                <input type="text" id="first_name" name="first_name">
            </div>
            <div class="label-input-pair">
                <label for="last_name">Last Name: </label>
                <input type="text" id="last_name" name="last_name">
            </div>
            <div class="label-input-pair">
                <label for="premium">Premium? </label>
                <input type="checkbox" id="premium" name="premium">
            </div>
            <div class="label-input-pair">
                <label for="active">Active? </label>
                <input type="checkbox" id="active" name="active" checked>
            </div>
            <button type="submit">Save</button>
        </form>
    </main>
{% endblock %}