{% extends 'base.html' %}

{% block header_title_content %}
    Member Detail
{% endblock %}

{% block body_main_content %}
    <header class="member-header">
        <h2>Member Detail</h2>
        <nav class="member-header-nav">
            <a href="/members" class="sub-nav-link">Show All</a>
        </nav>
    </header>
    <main class="member-main-show">
        {% if member %}
        <section class="card-member">
            <div class="card-member-text">
                <p>{{ member.get_full_name() }}</p>
                {% if member.is_premium %}
                        <p>Premium &#127775;</p>
                {% else %}
                    <p>Standard</p>
                {% endif %}
            </div>
            <div class="card-member-buttons">
                {% if member.is_active %}
                    <a href="/members/{{ member.id }}/toggle" class="invisi-link">
                        <button class="button member-button button-set-inactive">
                            Active
                        </button>
                    </a>
                {% else %}
                    <a href="/members/{{ member.id }}/toggle" class="invisi-link">
                        <button class="button member-button button-set-active">
                            Inactive
                        </button>        
                    </a>
                {% endif %}
                <a href="/members/{{ member.id }}/edit" class="invisi-link">
                    <button class="button button-edit">
                        Edit
                    </button>
                </a>
                <a href="/members/{{ member.id }}/delete" class="invisi-link">
                    <button class="button button-delete">
                        Delete
                    </button>
                </a>
            </div>
        </section>
        {% endif %}
        <section class="classes-main">
            {% for class in classes %}
                <section class="card-class">
                    <div class="card-class-text">
                        <p>
                            <a href="/classes/{{ class.id }}" class="inline-link">
                                {{ class.name }} - 
                                {{ class.class_date.strftime('%a %-d %b %Y') }} - 
                                {{ class.class_time.strftime('%I:%M %p') }}
                            </a>
                        </p>
                        <p>Capacity: {{ class.capacity }}</p>
                        {% if class.is_peak %}
                            <p>Peak</p>
                        {% else %}
                            <p>OffPeak</p>
                        {% endif %}
                    </div>
                    <div class="card-class-buttons">
                        {% if class.is_active %}
                            <a href="/classes/{{ class.id }}/toggle" class="invisi-link">
                                <button class="button class-button button-set-inactive">
                                    Active
                                </button>
                            </a>
                        {% else %}
                            <a href="/classes/{{ class.id }}/toggle" class="invisi-link">
                                <button class="button class-button button-set-active">
                                    Inactive
                                </button>        
                            </a>
                        {% endif %}
                        <button class="button button-edit">
                            <a href="/classes/{{ class.id }}/edit" class="invisi-link">Edit</a>
                        </button>
                    </div>
                </section>
            {% endfor %}
        </section>
    </main>
{% endblock %}