{% extends 'base.html' %}

{% block header_title_content %}
    Member Detail
{% endblock %}

{% block body_main_content %}
    <header class="member-header">
        <h2>Member Detail</h2>
        <nav class="member-header-nav">
            <a href="/members" class="sub-nav-link">Show All</a>
        </nav>
    </header>
    <main class="member-main">
        <section class="card-member">
            <p>Name: {{ member.get_full_name() }}</p>
            <p>Premium? {{ member.is_premium }}</p>
            <p>Active? {{ member.is_active }}</p>
            <button>
                <a href="/members/{{ member.id }}/edit">Edit</a>
            </button>
            <button>
                <a href="/members/{{ member.id }}/delete">Delete</a>
            </button>
            <button>
                <a href="/members/{{ member.id }}/toggle">
                    {% if member.is_active %}
                        Set Inactive
                    {% else %}
                        Set Active
                    {% endif %}
                </a>
            </button>
        </section>
        <section class="classes-main">
            {% for class in classes %}
            <section class="card-class">
                <p>Name: <a href="/classes/{{ class.id }}">{{ class.name }}</a></p>
                <p>Date: {{ class.class_date }}</p>
                <p>Time: {{ class.class_time }}</p>
                <p>Capacity: {{ class.capacity }}</p>
                <p>Active? {{ class.is_active }}</p>
                <div class="class-show-buttons">
                    <button>
                        <!-- <a href="">Unbook</a> -->
                        Unbook
                    </button>
                </div>
            </section>
        {% endfor %}
        </section>
    </main>
{% endblock %}