<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block header_title_content %}
        
    {% endblock %}</title>
</head>
<body>
    <header class="base-header">
        <h1>The Little Gym</h1>
        <nav class="base-header-nav">

        </nav>
    </header>
    <main>
        {% block body_main_content %}
            
        {% endblock %}
    </main>
    <footer>
        <section>

        </section>
        <nav class="base-footer-nav">
            
        </nav>
    </footer>
</body>
</html>