{% extends 'base.html' %}

{% block header_title_content %}
    Homepage
{% endblock %}

{% block body_main_content %}
    <header class="homepage-main-header">
        {% if create %}
            <form action="/new" method="post" class="news-post-form">
                <fieldset class="news-post-form-fieldset">
                    <legend>Post some news!</legend>
                    <textarea name="news_item"></textarea>
                    <button type="submit" class="button button-post">Post</button>
                </fieldset>
            </form>
        {% endif %}
            <h2>Latest News from the Little Gym</h2>
            <section class="homepage-news-nav">
                {% if top_3 %}
                    <a href="/all_news" class="sub-nav-link">Show All</a>
                {% else %}
                    <a href="/" class="sub-nav-link">Show Top 3</a>
                {% endif %}
                {% if not create %}
                    <a href="/new" class="sub-nav-link">New Post</a>    
                {% endif %}
            </section>
    </header>
    <main class="homepage-main-main">
        {% for news_item in news %}
            <section class="card-news">
                <p>
                    {{ news_item.create_date.strftime('%a %-d %B %Y') }} - 
                    {{ news_item.create_date.strftime('%I:%M %p') }}
                </p>
                <p>{{ news_item.news_item }}</p>
            </section>
        {% endfor %}
    </main>
{% endblock %}