.main-nav-link {
    text-decoration: none;
    color: ghostwhite;
}
.main-nav-link:hover {
    text-decoration: underline;
}

.sub-nav-link {
    text-decoration: none;
    color: #0e7490;
}
.sub-nav-link:hover {
    text-decoration: underline;
}

.invisi-link {
    text-decoration: none;
    color: ghostwhite;
}
.invisi-link:hove {
    text-decoration: none;
}

.inline-link {
    text-decoration: none;
    color: #0e7490;
}
.inline-link:hover {
    text-decoration: underline;
}