.button {
    border: none;
    color: white;
    height: 2.5em;
    width: 4.5em;
    /* padding: 0.5rem 0.8rem; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    border-radius: 0.3em;
}

.button-post {
    background-color: blue;
    align-self: flex-end;
    justify-self: center;
    margin: 0.5em;
}
.button-edit {
    background-color: gold;
}
.button-delete {
    background-color: grey;
}

.button-back {
    background-color: antiquewhite;
    align-self: flex-end;
    justify-self: center;
}

.button-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.button-set-active {
    background-color: red;
}
.button-set-inactive {
    background-color: green;
}