.button {
    border: none;
    color: white;
    padding: 0.4rem 0.6rem;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    border-radius: 0.3em;
}

.member-button {
    font-size: 14px;
}

.button-post {
    background-color: blue;
    align-self: flex-end;
    justify-self: center;
    margin: 0.5em;
}

.button-back {
    background-color: antiquewhite;
    align-self: flex-end;
    justify-self: center;
}

.button-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.button-set-active {
    background-color: red;
}
.button-set-inactive {
    background-color: green;
}