.classes-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* row-gap: 0.5em; */
    align-items: center;
    padding: 0 0 1em 0;
}
.classes-header-nav {
    display: flex;
    column-gap: 2em;
}
.classes-main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 70%;
    column-gap: 2em;
    row-gap: 2em;
}
.card-class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #0e7490;
    border-radius: 1em;
    background-color: ghostwhite;
    padding: 0 3em 0 3em;
    height: 8em;
    width: 60%;
}
.card-class-text {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    justify-items: flex-start;
}
.card-class-text > p {
    padding: 0;
    margin: 0;
}
.card-class-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 0.8em;
}
.card-class-buttons-4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 25%;
    row-gap: 0.8em;
    column-gap: 0.8em;
    padding: 0;
}

.class-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    row-gap: 1em;
    border: 1px solid #0e7490;
    padding: 1em;
    border-radius: 1em;
    background-color: ghostwhite;
}