.homepage-main-header {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-main-main {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-news-nav {
    display: flex;
    column-gap: 2em;
}

.news-post-form {
    width: 75%;
    margin: 0 0 2em 0;
}

.news-post-form-fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    border-radius: 1em;
    border: 1px solid #0e7490;
}

textarea {
    width: 100%;
    height: 8em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.card-news {
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    border: 1px solid #0e7490;
    border-radius: 1em;
    padding: 0.5em;
    margin: 1em 0 1em 0;
}
.card-news > p {
    padding: 0 3em 0 3em;
}