.base-body {
    display: grid;
    grid-template-areas:
        'base-header'
        'base-main'
        'base-footer';
    grid-template-rows: 100px 1fr 100px;
    background-color: #0e7490;
    margin: 0;
    font-family: Montserrat, Heletica, sans-serif;
}
.base-body-header {
    grid-area: base-header;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.base-header-nav {
    display: flex;
    column-gap: 1em;
    align-items: flex-end;
}
.base-body-main {
    grid-area: base-main;
    background-color: #ecfeff;
    padding: 1em 0 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5em;
}
.base-body-footer {
    grid-area: base-footer;
    display: flex;
    justify-content: space-around;
}
.base-footer-nav {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    padding-top: 1em;
}
.label-input-pair {
    display: flex;
    justify-content: space-between;
    height: 2em;
    align-items: center;
    column-gap: 0.1em;
}
.label-input-pair > input[type=text] {
    width: 70%;
    height: 2em;
}
.label-input-pair > input[type=checkbox] {
    width: 2em;
    height: 2em;
}