.member-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* row-gap: 0.5em; */
    align-items: center;
    padding: 0 0 1em 0;
}

.member-header-nav {
    display: flex;
    column-gap: 2em;
}

.member-main {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 2em;
    row-gap: 2em;
}
.member-main-show {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    column-gap: 0.1em;
    row-gap: 2em;
}
.card-member {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #0e7490;
    border-radius: 1em;
    background-color: ghostwhite;
    padding: 0 1.5em 0 1.5em;
    width: 15em;
    height: 10em;
}
.card-member-text {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    justify-items: flex-start;
}
.card-member-text > p {
    padding: 0;
    margin: 0;
}
.card-member-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 0.8em;
}

.member-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    row-gap: 1em;
    border: 1px solid #0e7490;
    padding: 1em;
    border-radius: 1em;
    background-color: ghostwhite;
}