{% extends 'base.html' %}

{% block header_title_content %}
    Class Detail
{% endblock %}

{% block body_main_content %}
    <header class="classes-header">
        <h2>Class Detail</h2>
        <nav class="classes-header-nav">
            <a href="/classes">Upcoming</a>
            <a href="/classes/all">All</a>
            <a href="/classes/historical">Historical</a>
            <a href="/classes/inactive">Inactive</a>
        </nav>
    </header>
    <main class="classes-main">
        <section class="card-class">
            <p>Name: {{ gym_class.name }}</p>
            <p>Date: {{ gym_class.class_date }}</p>
            <p>Time: {{ gym_class.class_time }}</p>
            <p>Capacity: {{ gym_class.capacity }}</p>
            <p>Active? {{ gym_class.is_active }}</p>
            <p>Peak? {{ gym_class.is_peak }}</p>
            <button>
                <a href="/classes/{{ gym_class.id }}/edit">Edit</a>
            </button>
            <button>
                <a href="/classes/{{ gym_class.id }}/delete">Delete</a>
            </button>
            <button>
                <a href="/classes/{{ gym_class.id }}/toggle">
                    {% if gym_class.is_active %}
                        Set Inactive
                    {% else %}
                        Set Active
                    {% endif %}
                </a>
            </button>
            {% if class_full %}
                <button>Class Full</button>
            {% elif not gym_class.is_active %}
                <button>Class Inactive</button>
            {% else %}
                <button><a href="/bookings/new/{{ gym_class.id }}">Book</a></button>
            {% endif %}
        </section>
        <section class="members-main">
            {% for booking in bookings %}
            <section class="card-member">
                <div>
                    <p>Name: <a href="/members/{{ booking.member.id }}">{{ booking.member.get_full_name() }}</a></p>
                    <p>Premium? {{ booking.member.is_premium }}</p>
                    <p>Active? {{ booking.member.is_active }}</p>
                </div>
                <div class="member-show-buttons">
                    <button>
                        <a href="/bookings/{{ booking.id }}/delete">Remove</a>
                    </button>
                </div>
            </section>
            {% endfor %}
        </section>
    </main>
{% endblock %}